body {
    margin: 0;
    background: #F4F4F4;
}

.header {
    background: #6943FF;
    height: 285px; 
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px gray;
    text-align: center;
}

.header input {
    border: 1px solid white;
    border-radius: 5px;
    background: #6943FF;
    color: white;
    width: 117px;
    height: 83px;
    font-weight: bolder;
    font-size: 58px;
    text-align: center;
}

.header button {
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin: 30px 0px;
    height: 42px;
    width: 117px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.output {
    background: #FFFFFF;
    margin: 15px 25px;
    padding: 10px;
    width: 500px;
    height: 108px;
    text-align: center;
    
}

.output h3 {
    color: #5A537B;
    font-size: 20px;
}

.output p {
    font-size: 14px;
}